# General
DATA_DIR=
TIMEZONE=

# Permissions
## Enter your docker User ID and Group ID, usually 1000
## Run "id <username>" to find your IDs
PUID=
PGID=

# Hardware Acceleration
## Specify the "render" Group ID for Jellyfin
## Run "getent group render | cut -d: -f3" to find your ID
RENDER_ID=

# Network Share Settings
## Share name, default is "Data"
SMB_SHARE=Data
## Username and Password
SMB_USER=
SMB_PASS=

# Gluetun VPN Client
## Requires OpenVPN
## https://github.com/qdm12/gluetun-wiki/tree/main/setup/providers
VPN_SERVICE_PROVIDER=
OPENVPN_USER=
OPENVPN_PASSWORD=
SERVER_REGIONS=
#FIREWALL_VPN_INPUT_PORTS=  # if you have port forwarding enabled
